<!DOCTYPE html>

<head>
    <title>RSS de SA de CV</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <%- include('../partials/topbar', { active: 'dashboard' }) %>
        <div class="main">
            <div class="container" id="form">
                <form id="userForm" autocomplete="off" method="POST" action="/form">
                    <label for="name">Nombre:</label><br>
                    <input type="text" name="name" id="name" autocomplete="off" placeholder="placeholder"><br><br>
                    <label for="password">Contrase침a:</label><br>
                    <input type="password" name="password" id="password" autocomplete="off"><br><br>
                    <input type="submit" id="submit" value="Agregar">
                </form>
            </div>
            <% if (users && users.length> 0) { %>
                <ul id="itemList">
                    <% users.forEach(function(user) { %>
                        <li class="container" style="position: relative;">
                            <p class="bold">Usuario:</p>
                            <p>
                                <%= user.name %>
                            </p>
                            <p class="bold">Contrase침a:</p>
                            <p class="censored">
                                <%= user.password %>
                            </p>
                        </li>
                        <% }); %>
                </ul>
                <% } %>
        </div>
        <!-- <script src="/static/js/app.js"></script> -->
</body>
<footer>
    <p>Para m치s informaci칩n:</p>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/form">Formulario</a> |
        <a href="https://github.com/AdrianVaM/fs-AVM" target="_blank">Github</a>
    </nav>
</footer>