<!DOCTYPE html>
<html>

<head>
    <title>RSS de SA de CV</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="topbar">
        <span class="topbar-title">RSS de SA de CV</span>
    </div>

    <div class="main">
        <div class="container">
            <p>Aqui vendemos toda clase de productos extraños producidos con nuestra maquinaria de grado industrial</p>
            <button>Conocer más</button>
        </div>
        <grid>
            <div class="container">
                <img class="imgcont" src="/static/resources/placeholder.jpg" width="100px" height="100px"
                    alt="Placeholder image">
                <p class="object">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="container">
                <img class="imgcont" src="/static/resources/placeholder.jpg" width="100px" height="100px"
                    alt="Placeholder image">
                <p class="object">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="container">
                <img class="imgcont" src="/static/resources/placeholder.jpg" width="100px" height="100px"
                    alt="Placeholder image">
                <p class="object">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </grid>
        <button>Ver más</button>
        <br>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam veritatis porro aperiam error? Illum rem
                praesentium rerum aliquam, qui consectetur iure iusto ratione! Consequatur nam inventore unde illum
                quasi aperiam.</p>

        </div>
    </div>
    <br>
</body>
<footer>
    <p>Para más información:</p>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/form">Formulario</a> |
        <a href="https://github.com/AdrianVaM/fs-AVM" target="_blank">Github</a>
    </nav>
</footer>

</html>