<!DOCTYPE html>

<head>
    <title>Registro - RSS de SA de CV</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <%- include('../partials/topbar', { active: 'dashboard' , user: user }) %>
        <div class="main">
            <div class="container" id="form">
                <h3>Registrarse:</h3>
                <% if (typeof error !=='undefined' ) { %>
                    <div class="error">
                        <%= error %>
                    </div>
                    <% } %>
                        <form id="registerForm" autocomplete="off" method="POST" action="/register">
                            <label for="name">Nombre:</label><br>
                            <input type="text" name="name" id="name" autocomplete="off"><br><br>
                            <label for="password">Contraseña:</label><br>
                            <input type="password" name="password" id="password" autocomplete="off"><br><br>
                            <input type="submit" id="submit" value="Registrarse">
                        </form>
            </div>
        </div>
        <!-- <script src="/static/js/app.js"></script> -->
</body>
<%- include('../partials/footer', { active: 'dashboard' }) %>