<footer>
    <p>Para más información:</p>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/login">Formulario</a> |
        <a href="https://github.com/AdrianVaM/fs-AVM" target="_blank">Github</a>
    </nav>
</footer>