<!--DEPRECTATED-->
<!DOCTYPE html>

<head>
    <title>RSS de SA de CV</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="topbar">
        <span class="topbar-title">RSS de SA de CV</span>
    </div>
    <div class="main">
        <div class="container" id="form">
            <form id="userForm" autocomplete="off">
                <label for="name">Nombre:</label><br>
                <input type="text" name="name" id="name" autocomplete="off" placeholder="placeholder"><br><br>
                <label for="password">Contraseña:</label><br>
                <input type="password" name="password" id="password" autocomplete="off"><br><br>
                <input type="submit" id="submit" value="Agregar">
            </form>
        </div>
        <ul id="itemList"></ul>
    </div>
    <script src="/static/js/app.js"></script>
    <script>
        // Mostrar la lista al cargar la página
        document.addEventListener('DOMContentLoaded', function () {
            if (typeof fetchItems === 'function') {
                fetchItems();
            }
        });
    </script>
</body>
<footer>
    <p>Para más información:</p>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/form">Formulario</a> |
        <a href="https://github.com/AdrianVaM/fs-AVM" target="_blank">Github</a>
    </nav>
</footer>